<h2>Select Warriors</h2>
<form action="/arena/fight" method="post">
    {{> warrior-select select-name="warrior1"}}
    {{> warrior-select select-name="warrior2"}}
    <br>
    <button type="submit">Start Fight!</button>
</form>
